{% extends 'base.html.twig' %}

{% block title %}Plan
{% endblock %}

{% block body %}
	<div class="container">
		<div class="card">
			<div class="row">
				<h1>Plan d'accès à la résidence :</h1>
				<img class="image_plan" src="images/accesetiolles.jpg" alt="image_plan_accès">
				<p>
					<a href="images/accesresidence.jpg">Plan détaillé</a>
					<br>
					<br>
					Pour venir, rien de plus simple: de
					<strong>Paris</strong>: Prendre l'autoroute
					<strong>A6</strong>, puis la Francilienne
					<strong>N104</strong>
					en direction de
					<strong>Melun</strong>.
																																																					Sortie n°29
					<strong>Etiolles</strong>. A droite au premier rond point, puis tout droit au second rond point.
																																																					Plusieurs chemins sont possibles: le + simple:
																																																																																			continuer le long de la Seine jusqu'au "boulevard" Charles de Gaulle.
																																																																																																																																														Au stop, prendre à gauche.
																																																																																																																																														L'entrée est juste à droite.
					<br>
					<br>
					<a href="images/PlanDesBatiments.jpg">Plan des Logements</a>
					<br>
					{# <a href="images/mapfinal.jpg" class="mini">Résidence vue du ciel</a> #}
					<br>
					<a href="images/mapfinal.jpg" class="maxi">Résidence vue du ciel (XXl)</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}
