{% extends 'base.html.twig' %}

{% block title %}Tennis
{% endblock %}

{% block body %}
	<div class="container w-50">
		<div class="card">
			<div class="row">
				<h1>Règlement Tennis des Bois du Cerf</h1>
				<br>
				<p>
					L'association a pour but de pratiquer, d'encourager et de développer l'activité "
					<b>Tennis</b>
					" au sein de la Résidence des Bois du Cerf, sur les six terrains mis à la disposition par la copropriété.
					<br>
					<br>
					ART. I - INSCRIPTION / COTISATION
					<br>
					<br>
					Reçue au mois de mars de chaque année (information effectuée par distribution à domicile), la cotisation ne comporte aucune part d'assurance.
																																																																																																																			Les joueurs n'ont aucun recours contre l'association.
																																																																																																																			Les inscriptions sont uniquement ouvertes aux résidants des Bois du Cerf.
																																																																																																																			Cette cotisation permet de faire " vivre " et d'assurer le bon fonctionnement de la section : entretient courant, tournois avec animation, renouvellement du matériel etc...
					<br>
					<br>
					ART. II - ACCES AU COURTS
					<br>
					<br>
					Le Bureau
					<b>Tennis</b>
					et le syndic s'employant à assurer la bonne conservation des surfaces "Quick", il est expressément demandé de ne pénétrer dans l'enceinte des
					<b>Tennis</b>
					qu'avec des chaussures adaptées à ce sport.
																																																																																										Il est rappelé que les courts sont réservés à la pratique du
					<b>Tennis</b>
					et que toute autre activité (rollers, vélo, skate...) y est interdite.
					<br>
					<br>
					ART. III - TENUE DES JOUEURS
					<br>
					<br>
					Les chaussures de
					<b>Tennis</b>
					sont indispensables.
																																																																																										Tout bruit exagéré tant sur les courts qu'aux abords créé une gêne pour les autres joueurs, chacun veillera donc à respecter cette recommandation.
					<br>
					<br>
					ART. IV - RESERVATION DES COURTS
					<br>
					<br>
					A. Principe de base : 1) Les badges sont personnels et nominatifs. ils doivent impérativement : 
																																																																																										a) Correspondre aux loueurs présents sur les courts.
																																																																																										b) Les joueurs des Bois du Cerf ne peuvent en aucun cas prêter leurs badge à qui que ce soit pendant leur absence.
																																																																																															2) En l'absence des Joueurs prévus, le court peut être utilisé par d'autres joueurs jusqu'à leur arrivée (dans la limite de 15 mn).
																																																																																										B. Réservation semaine - horaires La réservation se fait par positionnement d'un badge (ou plusieurs) sur le tableau. Le positionnement des badges sur 1| tableaux de réservation est autorisé uniquement pour la journée en cours.
																																																																																										Pendant la phase de jeu les badges des joueurs doivent être impérativementplacés sur le tableau correspondant au court.
																																																																																					                    L'absence de badge sur le tableau d'un court occupé donne priorité â tout autre loueur venant placer son badge.
					<br>
					<br>
					ART V - DUREE D'UTILISATION DES COURTS
					<br>
					<br>
					La durée de jeu est fixée à 1 heure, renouvelable si le court est disponible.
					<br>
					<br>
					ART. VI - INVITATION
					<br>
					<br>
					Un membre de l'association a la possibilité d'inviter une personne extérieure. Il est demandé de ne pas abuser de cette tolérance afin que les autres joueurs de la résidence ne soient pas pénalisés.
					<br>
					<br>
					CONCLUSION
					<br>
					<br>
					Qualité de la vie tennistique Que vous venez poser votre badge ou jouer, merci de laisser votre agressivité et vos soucis loin des courts et venez RELAX rencontrer des AMIS.
																																																																																						Dans cet état d'esprit, il n'y aura pas de problème (réservation, tenue...) qui ne pourra se résoudre dans le cadre du règlement qui permet à tous de jouer dans les meilleures conditions.
																																																																																						Le respect de ces quelques règles, avec en premier lieu, le respect de la réservation, un badge nominatif permettra à tous de jouer en bonne intelligence.
																																																																																						N'oublions pas que nous sommes privilégiés de pouvoir jouer dans un tel cadre.
																																																																																						Bonne saison et rendez-vous sur les courts.
					<br>
					<br>
					COMPOSITION DU BUREAU
					<br>
					<br>
					<b>
						L'Assemblée Générale se tient au Pigeonnier, début janvier.
					</b>
				</p>
			</div>
			<div class="footer">
				<a href="club">Le Club</a>
				<a href="piscine">La piscine</a>
			</div>
		</div>
	</div>
{% endblock %}
