{% extends 'base.html.twig' %}

{% block title %}Le Club
{% endblock %}


{% block body %}
	<body>
		<div class="container w-50 ">
			<div class="card-header">
				<h1>Message du Président</h1>
			</div>
			<br>
			<div class="card-body ">
				<p>
					Chers Ami(e)s , cher(e)s Résident(e)s
					<br>
					<br>
					Depuis 40 ans
					<b>Le Club</b>
					des Bois du Cerf propose aux résidents et aux personnes extérieures différentes activités artistiques , ludiques , sportives dans le cadre des 2 très belles salles de la résidence situées près du pigeonnier.
					<br>
					Pour cette saison les activités suivantes sont proposées … et la liste est ouverte :
					<br>
					<br>
					Danse classique , éveil corporel , modern jazz , hip hop , claquettes , danses de salon … :
					<br>
					Véronique MURILLO au 06 37 71 93 38
					<br>
					Guitare :
					<br>
					Eugene AUGUSTIN au 01 64 96 41 22
					<br>
					Gym body :
					<br>
					Emerius VILLEROY au 06 18 96 33 63
					<br>
					Taï Chi :
					<br>
					Judith MARGULIS au 06 83 46 94 32 et André DIAMENT au 06 75 64 72 65
					<br>
					Piano :
					<br>
					Ju’l au 06 61 38 77 81
																																																																																																																																																																																																																						        Méditation , harmonisation énergétique , relaxation : Sylvie LEGRAND au 06 80 89 49 90
					<br>
					<br>
					D’autres activités peuvent venir compléter cette liste ; il vous suffit , en qualité de résident , de parrainer une nouvelle activité et le professeur qui l’enseignera … à condition bien sûr que cette activité ne soit pas identique à celles déjà proposées.
					<br>
					<br>
					Le bureau
					<b>du Club</b>
					est composé à ce jour des membres suivants :
					<br>
					Catherine CASTEJON
																																																																																																																																																																																																																												        Véronique MURILLO
					<br>
					Michel Giroux
					<br>
					Géraud LECLERC (Trésorier – contact au 06 26 99 20 83)
					<br>
					Didier SCOHIER (Président – contact au 06 17 78 84 39)
					<br>
					Et ce bureau vous est évidemment ouvert.
					<br>
					Nous sommes prêts à vous accueillir , n’hésitez pas à nous contacter.
					<br>
					Bien à vous,
					<br>
					Au nom
					<b>du Club</b>
					des Bois du Cerf,
					<br>
					Didier SCOHIER – Président
					<b>du Club</b>

					06 17 78 84 39
				</p>
			</div>
		</div>
	</body>
</div>
<div class="card-footer">
	<a href="piscine">La piscine</a>
	<a href="tennis">Les tennis</a>
</div></body>{% endblock %}
