{% extends 'base.html.twig' %}

{% block title %}Piscine
{% endblock %}

{% block body %}

	<div class="container w-50">
		<div class="card">
			<div class="row">
				<h1>Notes et règlement intérieur de la Piscine</h1>
				<br>
				<p>NOUS INSISTONS SUR LE FAIT QUE LA BAIGNADE N’EST PAS SURVEILLÉE, QUE L’USAGE DES INSTALLATIONS SE FAIT SOUS LA SEULE RESPONSABILITÉ DES RÉSIDENTS ET QUE LES  ENFANTS DE MOINS DE 10 ANS DOIVENT ÊTRE SYSTÉMATIQUEMENT ACCOMPAGNÉS D’UN ADULTE.
					<br>
					<br>
					En particulier,
																																																																																			vous ne devez pas laisser vos enfants sans surveillance.
																																																																																			Protégez vos enfants en gardant toujours l’œil sur eux.
																																																																																			Equipez votre enfant de brassards ou d’une bouée à sa taille.
																																																																																	        Formez-vous aux gestes qui sauvent.
																																																																																			Ayez un téléphone portable pour alerter les secours.
																																																																																			Apprenez à nager à vos enfants.
					<br>
					Règles d’utilisation des installations
					<br>
					USAGES DES INSTALLATIONS
					<br>
					L’usage de la
					<b>piscine</b>
					est strictement réservé aux résidents munis de leur carte d’accès accompagnés leurs invités éventuels.																																															            
																																																																																						Sont considérés comme résidents :
																																																																																			            Les copropriétaires ou les personnes auxquelles ils ont abandonné l’usage d’un lot d’habitation (Locataires, usufruitiers).
																																																																																			            Les personnes qui ont leur résidence principale chez ce copropriétaire ou locataire (enfants, co-locataires, conjoints).
																																																																																		                Sont également considérés comme résidents :
																																																																																						Les petits enfants mineurs qui sont gardés par leurs grands-parents durant les vacances.
					<br>
					INSCRIPTION PREALABLE OBLIGATOIRE
					<br>
					L’inscription préalable est nécessaire pour l’obtention des cartes de
					<b>piscine</b>.
																																																																																						À défaut de présenter sa carte, le résident se verra refuser l’accès aux installations.
					<br>
					MODALITÉS D’INSCRIPTIONS
					<br>
					Pour chaque résident, envoyez une photo type photo d’identité au format jpeg (format standard des smartphones et appareils photos) à l'adresse  : lesbois.ducerf@yahoo.fr.
																																																																			Dans le corps du mail, Veillez à préciser pour chaque photo :
																																																																	        le n° du bâtiment,
																																																																			le nom et le prénom du résident concerné.
																																																																			Un email vous sera envoyé par retour pour vous notifier de la mise à disposition des cartes. Ces dernières seront à récupérer directement auprès des agents de bassin.
					<br>
					MODALITES D’ACCES ET OUVERTURE
					<br>
					La
					<b>piscine</b>
					est ouverte tous les jours de 11H00 à 20H30.																																																																																		            
																																																										    L’accès est libre de 13H30 à 20H30 en semaine et de 11h00 à 20H30 les week-end et jours fériés, heure de présence des agents de bassin.
																																																											L’accès de 11H00 à 13H30 est possible en semaine sur demande expresse, après avoir fait programmer vos télécommandes à la loge.
																																																											La demande de programmation des télécommandes se fait en semaine à la loge entre 9h et 17h.																																																																																		    
																																																											Aux horaires d’ouverture libre, la présentation à l’agent de bassin de la carte d’accès est obligatoire sous peine de se voir refuser l’entrée.
																																																											Sur demande de l’agent de bassin, les usagers présents à son arrivée devront lui présenter leur carte d’accès. Ce dernier a autorité pour expulser de l’enceinte toute personne n’ayant pas sa carte en sa possession.
																																																											Dans le but d’assurer la sécurité des enfants, veillez à respecter le dispositif de verrouillage du portail de l’entrée doublé par une ventouse électrique.
					<br>
					INVITÉS
					<br>
					Les résidents bénéficient d'une carte de 20 invitations par lot d’habitation. Cette carte doit être présentée à l’agent de bassin par le résident qui accompagne ces invités. L’agent rayera le nombre d’invitation correspondant au nombre d’invités sur la carte.
																																																							Afin de limiter le nombre de nageurs, il ne sera pas autorisé plus de 5 invités simultanés par résident.
																																																							Les enfants en bas âge (< 3ans) n'ont pas besoin de carte lorsqu’ils sont accompagnés d’un adulte. Ils ne comptent pas non plus comme des invités.
																																																							Les invités se présentent et quittent la
					<b>piscine</b>
					en même temps que le résident invitant. En aucun cas ils ne sont autorisés à rester après le départ du résident invitant.
					<br>
					STATIONNEMENT
					<br>
					La zone piscine/tennis est très fréquentée en été. Nous vous demandons de respecter les règles de stationnement déjà en vigueur dans la résidence. En particulier, nous vous rappelons qu’il est interdit de stationner devant les garages, ainsi que sur les pelouses aux abord de la piscine.
					<br>
					<br>
					Les membres de la commission
					<b>Piscine</b>
					:
					<br>
					DURY Pascal	06 71 60 36 79
					<br>
					BAUCHER Stéphane	06 81 07 63 02
					<br>
					MESTELAN Yves	06 86 99 13 34

				</p>
			</div>
			<div class="footer">
				<a href="club">Le Club</a>
				<a href="tennis">Les Tennis</a>
			</div>
		</div>
	</div>
{% endblock %}
