{% extends 'base.html.twig' %}

{% block title %}Galerie
{% endblock %}
{% block body %}
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link
		rel="icon" href="../../../../favicon.ico">
		<!-- Bootstrap CSS -->
		<link
		href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
		<!-- Css style pour article -->
		<link href="album.css" rel="stylesheet">
	</head>
	<body>
		<main role="main">
			<section class="jumbotron text-center">
				<div class="container">
					<h1 class="jumbotron-heading">Galerie</h1>
				</div>
			</section>
			<div class="album py-5 bg-light">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="card mb-4 box-shadow">
								<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/d/d4/Icone_appareil_photo.svg" alt="image">
								<div class="card-body">
									<p class="card-text">Partagez vos photos !</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card mb-4 box-shadow">
								<img class="card-img-top" src="/uploads/IMG_20161022_100110.jpg" alt="image">
								<div class="card-body">
									<p class="card-text">Erable du Japon</p>
									<div class="d-flex justify-content-between align-items-center"></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card mb-4 box-shadow">
								<img class="card-img-top" src="/uploads/IMG_20180521_081016.jpg" alt="image">
								<div class="card-body">
									<p class="card-text">Chevreuil de "compagnie"</p>
									<div class="d-flex justify-content-between align-items-center"></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card mb-4 box-shadow">
								<img class="card-img-top" src="/uploads/IMG_20180207_082537.jpg" alt="image">
								<div class="card-body">
									<p class="card-text">Hiver</p>
									<div class="d-flex justify-content-between align-items-center"></div>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="card mb-4 box-shadow">
								<img class="card-img-top" src="" alt=" image ">
								<div class="card-body">
									<p class="card-text">Texte</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card mb-4 box-shadow">
								<img class="card-img-top" src="" alt="image">
								<div class="card-body">
									<p class="card-text">Texte</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group"></div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</main>
		<footer class="text-muted">
			<div class="container">
				<p class="float-right">
					<a href="{{ path("accueil")}}">Retour à l'accueil</a>
				</p>
			</div>
		</footer>
		<!-- Bootstrap  JavaScript																							    ================================================== -->
		<!-- Placé a la fin du document pour que la page se charge plus rapidement-->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script>
			window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')
		</script>
		<script src="../../../../assets/js/vendor/popper.min.js"></script>
		<script src="../../../../dist/js/bootstrap.min.js"></script>
		<script src="../../../../assets/js/vendor/holder.min.js"></script>
	</body>
{% endblock %}
